.WhatIsLendingVaultWrapper {
    margin-top: 84px;
    position: relative;
    z-index: 2;
}

.emptyGradiantLine {
    background: linear-gradient(90deg, rgba(144, 144, 144, 0) 0%, rgba(144, 144, 144, 0.6) 49.52%, rgba(144, 144, 144, 0) 100%);
    height: 2px;
    width: 100%;
}

.subHead {
    margin: 30px 0 15px;
    font-family: var(--font-merriweather);
    font-size: 24px;
    line-height: 89%;
    letter-spacing: -0.72px;
    font-weight: 300;
    color: #828282;
}

.mainHead {
    font-family: var(--font-merriweather);
    font-size: 64px;
    line-height: 89%;
    letter-spacing: -1.44px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}

.content {
    background-color: #020202;
    padding-top: 52px;
}

.innerContent {
    padding-top: 35px;
    border-left: 1px dashed #4A4A4A;
    border-right: 1px dashed #4A4A4A;
    position: relative;
    display: flex;
    &::before {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #707070;
        position: absolute;
        left: -3px;
        top: -3px;
    }
    &::after {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #707070;
        position: absolute;
        right: -3px;
        top: -3px;
    }
    .text {
        border-right: 1px dashed #4A4A4A;
        padding: 65px 40px 70px;
        text-align: left;
    }
    video {
        max-width: 100%;
        height: auto;
    }
    .text,
    .image {
        flex: 1;
        max-width: 50%;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
    }
    .title {
        font-family: var(--font-merriweather);
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -1.6px;
        font-weight: 300;
        color: #fff;
    }
    .highlight {
        color: #3DB5FF;
    }
    .description {
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -1px;
        margin-top: 30px;
        color: #CACACA;
        font-weight: 300;
    }
}