.mainHeadContent {
    border: 1px dashed #4A4A4A;
    background-color: #0D0D0D;
    text-align: center;
    padding: 40px 0;
    position: relative;
    &::before {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #707070;
        position: absolute;
        left: -3px;
        top: -3px;
        z-index: 2;
    }
    &::after {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #707070;
        position: absolute;
        right: -3px;
        top: -3px;
        z-index: 2;
    }
}

.mainHead {
    font-size: 32px;
    letter-spacing: -1.28px;
    font-weight: 300;
    line-height: 100%;
    font-family: var(--font-merriweather);
    color: #FFFFFF;
}

.description {
    font-size: 18px;
    line-height: 120%;
    color: #828282;
    letter-spacing: -1.3px;
    margin-top: 10px;
}