.howItWorks {
    border-top: 1px dashed #BCBCBC;
    border-bottom: 1px dashed #BCBCBC;
    @media screen and (max-width: 768px) {
        padding: 0 15px;
    }
}

.howItWorksWrapper {
    border-left: 1px dashed #BCBCBC;
    border-right: 1px dashed #BCBCBC;
    padding: 100px 50px;
    @media only screen and (max-width: 991px) {
        padding: 50px 20px;
    }
    @media only screen and (max-width: 768px) {
        padding: 25px 0;
    }
}

.mainHead {
    font-family: var(--font-merriweather);
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1.5px;
    margin-bottom: 24px;
    text-align: center;
    @media only screen and (max-width: 768px) {
        font-size: 24px;
        letter-spacing: -1.2px;
        margin-bottom: 16px;
    }
}

.illustration {
    position: relative;
    padding: 0 40px;
    @media only screen and (max-width: 768px) {
        padding: 0 15px;
    }
}

.arrowIconPrev,
.arrowIconNext {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E3E3E3;
    z-index: 11;
    @media screen and (max-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

.arrowIconNext {
    right: 0;
    @media screen and (max-width: 768px) {
        right: 5px;
    }
}

.arrowIconPrev {
    left: 0;
    @media screen and (max-width: 768px) {
        left: 5px;
    }
}

.arrowIconPrev.disabled,
.arrowIconNext.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.tabSwitcherBox {
    text-align: center;
}

.tabSwitcher {
    background-color: #E3E3E3;
    border-radius: 30px;
    padding: 4px;
    display: inline-flex;
    margin: 0 auto 50px;
    justify-content: center;
    button {
        padding: 4px 30px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: -1px;
        border-radius: 25px;
        background-color: transparent;
        color: #767676;
        @media screen and (max-width: 768px) {
            min-width: 80px;
            padding: 4px 16px;
        }
    }
    .activeTab {
        background: #ffffff;
        color: #0A0A0A;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
    }
}

.contentRow {
    display: flex;
    @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.rightCol {
    flex: 1;
    padding-left: 24px;
    @media only screen and (max-width: 768px) {
        padding-left: 0;
    }
}

.stepBox {
    margin: 0px 0px 26px;
    width: 285px;
    &:last-child {
        margin-bottom: 0;
    }
}

.stepTitle {
    color: #ACACAC;
    cursor: pointer;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(188, 188, 188);
    border-image: initial;
    padding: 12px 20px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.activeStep {
        color: #4E4E4E;
        border-color: #4E4E4E;
    }
    @media only screen and (max-width: 768px) {
        font-size: 12px;
        padding: 8px;
        letter-spacing: -0.84px;
        justify-content: center;
    }
}

.stepNumber {
    font-size: 11px;
    letter-spacing: normal;
    font-weight: 500;
    font-family: "IBM Plex Mono";
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.videoPlayer {
    width: 100%;
    min-height: 440px;
    @media only screen and (max-width: 768px) {
        height: 270px;
        min-height: auto;
    }
}

.innerButtons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px -4px;
    padding: 15px 0 0;
}

.actionItem {
    width: calc(50% - 8px);
    margin: 0 4px 8px;
    font-size: 14px;
    letter-spacing: -0.85px;
    background-color: transparent;
    font-family: "apercu pro";
    border: 1px solid #ADADAD;
    border-radius: 2px;
    padding: 8px;
    color: #888888;
    cursor: pointer;
    &.active {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
}

.hiwSec {
    border-top: 1px dashed #BCBCBC;
    padding: 55px 0;
    display: flex;
    .leftSec,
    .rightSec {
        width: 50%;
    }
    .rightSec {
        border-left: 1px dashed #BCBCBC;
        padding-left: 30px;
    }
    .leftSec {
        padding-right: 30px;
    }
    .innerHead {
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -1.5px;
        color: #1D1D1D;
        font-weight: 400;
        opacity: 0.8;
        margin-bottom: 35px;
    }
    .hiwItem {
        display: flex;
        border-bottom: 1px dashed #BCBCBC;
        padding: 15px;
        &:last-child {
            border-bottom: none;
        }
    }
    .hiwItemNumber {
        color: #A1A1A1;
        font-size: 24px;
        line-height: 100%;
        font-family: var(--font-merriweather);
        font-weight: 300;
        margin-right: 20px;
    }
    .hiwItemDescription {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -1.2px;
        color: #272727;
        font-weight: 400;
    }
}

.benefitList {
    display: flex;
    flex-wrap: wrap;
}

.benefitItem {
    width: calc(50% - 8px);
    text-align: left;
    margin-bottom: 20px;
}

.stabilityFund {
    border-top: 1px dashed #BCBCBC;
    display: flex;
    margin-top: 40px;
    padding: 55px 0;
    .mainHead {
        text-align: left;
    }
    .subHead {
        color: #9D9D9D;
        font-size: 20px;
        font-weight: 400;
        line-height: 89%;
        letter-spacing: -1.4px;
        margin-bottom: 10px;
    }
    .leftContent {
        width: 224px;
    }
    .rightContent {
        flex: 1;
        padding-left: 40px;
    }
    .description {
        color: #747474;
        font-size: 18px;
        line-height: 126%;
        letter-spacing: -0.36px;
        font-weight: 400;
    }
}

.benefitCount {
    font-size: 11px;
    letter-spacing: normal;
    font-weight: 500;
    font-family: "IBM Plex Mono";
    color: #A1A1A1;
    display: block;
    margin-bottom: 15px;
}

.benefitDescription {
    color: #272727;
    opacity: 0.8;
    font-size: 18px;
    line-height: 126%;
    letter-spacing: -1.2px;
    max-width: 180px;
}

.benefitImage {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .leftCol {
        display: flex;
        gap: 5px;
        margin: 0 10px;
        position: relative;
        min-height: 120px;
        .innerButtons {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: calc(100% + 10px);
            padding: 0;
        }
    }
}